{% extends 'base.html' %}

{% block content %}

<style>
    /* Embedded CSS */
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust the height as needed */
    }

    /* Adjust the width of the card container */
    .card-container {
        width: 60%; /* Adjust the width as needed */
    }

    /* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>

<div class="center">
    <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
               
                <div class="w3-display-bottomleft w3-container w3-text-black">
                   
                </div>
            </div>
            <div class="w3-container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <h2>{{ user.username }}'s Profile</h2>
                <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Student</p>
                <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Austin, Tx</p>
                <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ user.username }}</p>
                <button id="updateProfileBtn">Submit</button>
            </form>
                <hr>
            </div>
        </div>
    </div>
</div>


{% endblock %}